In [1]:
import pandas as pd

In [2]:
wine = pd.read_csv('winequality-edited.csv')
wine.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,Red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,Red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,Red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Red

In [3]:
wine.mean()

fixed_acidity             7.215307
volatile_acidity          0.339666
citric_acid               0.318633
residual_sugar            5.443235
chlorides                 0.056034
free_sulfur_dioxide      30.525319
total_sulfur_dioxide    115.744574
density                   0.994697
pH                        3.218501
sulphates                 0.531268
alcohol                  10.491801
quality                   5.818378
dtype: float64

In [4]:
# to get the mean grouped by any specific columns
wine.groupby('quality').mean()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,7.853333,0.517000,0.281000,5.140000,0.077033,39.216667,122.033333,0.995744,3.257667,0.506333,10.215000
4,7.288889,0.457963,0.272315,4.153704,0.060056,20.636574,103.432870,0.994833,3.231620,0.505648,10.180093
5,7.326801,0.389614,0.307722,5.804116,0.064666,30.237371,120.839102,0.995849,3.212189,0.526403,9.837783
6,7.177257,0.313863,0.323583,5.549753,0.054157,31.165021,115.410790,0.994558,3.217726,0.532549,10.587553
7,7.128962,0.288800,0.334764,4.731696,0.045272,30.422150,108.498610,0.993126,3.228072,0.547025,11.386006
8,6.835233,0.291010,0.332539,5.382902,0.041124,34.533679,117.518135,0.992514,3.223212,0.512487,11.678756
9,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

In [8]:
wine.groupby(['quality', 'color'], as_index=True).mean()

               fixed_acidity  volatile_acidity  citric_acid  residual_sugar  \
quality color
3       Red         8.360000          0.884500     0.171000        2.635000
        White       7.600000          0.333250     0.336000        6.392500
4       Red         7.779245          0.693962     0.174151        2.694340
        White       7.129448          0.381227     0.304233        4.628221
5       Red         8.167254          0.577041     0.243686        2.528855
        White       6.933974          0.302011     0.337653        7.334969
6       Red         8.347179          0.497484     0.273824        2.477194
        White       6.837671          0.260564     0.338025        6.441606
7       Red         8.872362          0.403920     0.375176        2.720603
        White       6.734716          0.262767     0.325625        5.186477
8       Red         8.566667          0.423333     0.391111        2.577778
        White       6.657143          0.277400     0.326514        5.671429
9       White       7.420000          0.298000     0.386000        4.120000

               chlorides  free_sulfur_dioxide  total_sulfur_dioxide   density  \
quality color
3       Red     0.122500            11.000000             24.900000  0.997464
        White   0.054300            53.325000            170.600000  0.994884
4       Red     0.090679            12.264151             36.245283  0.996542
        White   0.050098            23.358896            125.279141  0.994277
5       Red     0.092736            16.983847             56.513950  0.997104
        White   0.051546            36.432052            150.904598  0.995263
6       Red     0.084956            15.711599             40.869906  0.996615
        White   0.045217            35.650591            137.047316  0.993961
7       Red     0.076588            14.045226             35.020101  0.996104
        White   0.038191            34.125568            125.114773  0.992452
8       Red     0.068444            13.277778             33.444444  0.995212
        White   0.038314            36.720000            126.165714  0.992236
9       White   0.027400            33.400000            116.000000  0.991460

                     pH  sulphates    alcohol
quality color
3       Red    3.398000   0.570000   9.955000
        White  3.187500   0.474500  10.345000
4       Red    3.381509   0.596415  10.265094
        White  3.182883   0.476135  10.152454
5       Red    3.304949   0.620969   9.899706
        White  3.168833   0.482203   9.808840
6       Red    3.318072   0.675329  10.629519
        White  3.188599   0.491106  10.575372
7       Red    3.290754   0.741256  11.465913
        White  3.213898   0.503102  11.367936
8       Red    3.267222   0.767778  12.094444
        White  3.218686   0.486229  11.636000
9       White  3.308000   0.466000  12.180000

In [9]:
wine.groupby(['quality', 'color'], as_index=False)['pH', 'density'].mean()

    quality  color        pH   density
0         3    Red  3.398000  0.997464
1         3  White  3.187500  0.994884
2         4    Red  3.381509  0.996542
3         4  White  3.182883  0.994277
4         5    Red  3.304949  0.997104
5         5  White  3.168833  0.995263
6         6    Red  3.318072  0.996615
7         6  White  3.188599  0.993961
8         7    Red  3.290754  0.996104
9         7  White  3.213898  0.992452
10        8    Red  3.267222  0.995212
11        8  White  3.218686  0.992236
12        9  White  3.308000  0.991460

In [10]:
# pH is a quantitative variable without clear categories. However, there is a simple fix to this.
# You can create a categorical variable from a quantitative variable by creating your own categories.
# pandas' cut function let's you "cut" data in groups.

In [14]:
wine.groupby('color').mean().quality

color
Red      5.636023
White    5.877909
Name: quality, dtype: float64

In [16]:
wine.describe().pH

count    6497.000000
mean        3.218501
std         0.160787
min         2.720000
25%         3.110000
50%         3.210000
75%         3.320000
max         4.010000
Name: pH, dtype: float64

In [19]:
bin_edges = [2.72, 3.11, 3.21, 3.32, 4.01]
bin_names = ['high', 'mod_high', 'medium', 'low']

In [20]:
wine['acidity_levels'] = pd.cut(wine['pH'], bin_edges, labels=bin_names)
wine.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Red,low
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,Red,mod_high
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,Red,medium
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,Red,mod_high
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Red,low

In [26]:
wine.groupby('acidity_levels').mean().quality

acidity_levels
high        5.783343
mod_high    5.784540
medium      5.850832
low         5.859593
Name: quality, dtype: float64

In [24]:
wine.to_csv('winequality-edited.csv', index=False)

In [27]:
wine.groupby('color').mean().quality

color
Red      5.636023
White    5.877909
Name: quality, dtype: float64